<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Add a New Post</h1>
    <form method="post" action="/posts">
        <input type="text" name="username" placeholder=" Enter Username ">
        <textarea placeholder=" Enter Content " rows="10" cols="50" name="content"> </textarea>
        <button>submit!</button>
    </form>
</body>
</html>