<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Updating Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Update your Post</h1>

    <form method="post" action="/posts/<%= currPost.id %>?_method=PATCH">
        <h3>@<%= currPost.username %></h3>

        <textarea placeholder=" Enter Content " rows="10" cols="50" name="content">
            <%= currPost.content %>
        </textarea>

        <button> Update </button>
    </form>
</body>
</html>

